<body style="background-image: url(weather.png); background-repeat: repeat;">
<h1>Suggestions Inbox</h1>
<p>Make a suggestion here on anything you want! Feel free to vote on topics.
<br>Topics are listed from most to least popular.</p>

<p>Click on a topic to edit it.</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <p>
      
    </p>
    <% @topics.each do |topic|%>
      <tr>
        <td class="topic"><%= link_to topic.title, topic_path(topic) %></td>
        <td><%= pluralize(topic.votes.count, "vote") %></td>
        <td><%= button_to '+1', upvote_topic_path(topic), method: :post %></td>
        <td><%= button_to '-1', downvote_topic_path(topic), method: :delete %></td>
        <td class="delete"><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path, class: "button" %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "button" %>
</body>
